*{
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(252, 130, 130);
}

.datetime{
    color: aliceblue;
    background: #10101E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 340px;
    padding: 15px 10px;
    border: 3px solid rgb(170, 197, 135);
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(244, 248, 244, 0.3));
    transition: 0.5s;
    transition-property: background, box-shadow;
}

.datetime:hover{
    background: blueviolet;
    box-shadow: 0 0 50px blueviolet;
}
.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child{
    background: rgb(120, 85, 82);
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
  border-radius: 3px;
}